body{
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/19/30154/e5f1029a0d7d627a9384e81de1ee3a29-700.jpg");
    background-repeat: no-repeat;
     background-size: 100%;
}

.count{
   border: 3px solid rgb(138, 134, 129);
    background-color: #B7B2AF;
    padding:10px;
}
button{
    padding:10px;
    margin-left:10px;
    box-shadow: 5px 10px 18px #888888;
    border: 3px solid rgb(138, 134, 129);
    background-color: #B7B2AF;
}